<section class="section">
  <div class="container">
    <div class="box">
      <h2 class="title is-5">最近更新されたユーザー</h2>
      <div class="columns is-multiline">
        <% @recent_users.each do |user| %>
          <div class="column is-2">
            <%= render 'user_card', user: user %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h2 class="title is-5">人気のタグ</h2>
          <div class="field is-grouped is-grouped-multiline">
            <% @popular_tags.each do |popular_tag| %>
              <div class="control">
                <div class="tags has-addons">
                  <a class="tag is-link"><%= popular_tag.title %></a>
                  <span class="tag"><%= popular_tag.user_count%></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h2 class="title is-5">最近更新のあったタグ</h2>
          <table class="table">
            <tbody>
              <%= render partial: 'tag_history_collection', collection: @tags_histories, as: :history %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="box">
      <h2 class="title is-5">今月入社したユーザー</h2>
      <div class="columns is-multiline">
        <% @this_month_users.each do |user| %>
          <div class="column is-2">
            <%= render 'user_card', user: user %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        座席表
      </h1>
      <h2 class="subtitle">
        Coming Soon...
      </h2>
    </div>
  </div>
</section>
