<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="columns">
      <div class="column">
        <div class="notification is-danger">
          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">姓</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.text_field :last_name, required: true, class: 'input' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">名</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.text_field :first_name, required: true, class: 'input' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">最寄駅(任意)</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.text_field :nearest_station, class: 'input' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">パスワード</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.password_field :password, class: 'input', type: 'password' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">パスワード確認</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.password_field :password_confirmation, class: 'input', type: 'password' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">自由記入欄</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.text_area :profile_text, class: 'textarea is-hovered' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.submit '保存', class: 'button is-primary' %>
          <%= link_to 'Cancel', @user, class: 'button is-light' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
