<p id="notice"><%= notice %></p>

<%= @user.email %>
<% @user.images.each do |image| %>
  <%= image_tag image %>
<% end %>

<%= @user.profile_text&.html_safe %>

<%= link_to 'Edit', edit_user_path(@user) %> |
