<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= image_tag @user_images&.shift || "https://source.unsplash.com/random/1280x960"%>
            </figure>
          </div>
        </div>
        <br>
        <div class="columns">
          <div class="column">
            <% @user_images.each do |image| %>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <%= image_tag image || "https://source.unsplash.com/random/1280x960" %>
                  </figure>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4">Profile</h3>
            <div class="content">
              <table class="table-profile">
                <tr>
                  <th colspan="1"></th>
                  <th colspan="2"></th>
                </tr>
                <tr>
                  <td>名前:</td>
                  <td><%= @user.fullname %></td>
                </tr>
                <tr>
                  <td>所属部署:</td>
                  <td><%= @user.master_group.division.name %>(<%= @user.master_group.name %>)</td>
                </tr>
                <tr>
                  <td>職種:</td>
                  <td>
                    <%= @user.master_jobs.map { |job| job.name }.join('/') %>
                  </td>
                </tr>
                <tr>
                  <td>email:</td>
                  <td><%= @user.email %></td>
                </tr>
                <tr>
                  <td>最寄駅(任意):</td>
                  <td><%= @user.nearest_station %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4">Tags</h3>
            <div class="content">
              <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                  <div class="tags has-addons">
                    <a class="tag is-link">Technology</a>
                    <a class="tag is-delete"></a>
                  </div>
                </div>

                <div class="control">
                  <div class="tags has-addons">
                    <a class="tag is-link">CSS</a>
                    <a class="tag is-delete"></a>
                  </div>
                </div>

                <div class="control">
                  <div class="tags has-addons">
                    <a class="tag is-link">Flexbox</a>
                    <a class="tag is-delete"></a>
                  </div>
                </div>

                <div class="control">
                  <div class="tags has-addons">
                    <a class="tag is-link">Web Design</a>
                    <a class="tag is-delete"></a>
                  </div>
                </div>

                <div class="control">
                  <div class="tags has-addons">
                    <a class="tag is-link">Open Source</a>
                    <a class="tag is-delete"></a>
                  </div>
                </div>

                <div class="control">
                  <div class="tags has-addons">
                    <a class="tag is-link">Community</a>
                    <a class="tag is-delete"></a>
                  </div>
                </div>

                <div class="control">
                  <div class="tags has-addons">
                    <a class="tag is-link">Documentation</a>
                    <a class="tag is-delete"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-mobile is-centered">
        <div class="column is-four-fifths">
          <%= @user.profile_text&.html_safe %>
        </div>
      </div>
    </div>
  </div>
</section>
