<%= form_with(model: user_tag, local: true) do |form| %>
  <% if user_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_tag.errors.count, "error") %> prohibited this user_tag from being saved:</h2>

      <ul>
      <% user_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p><%= form.text_field :title %></p>
    <p><%= form.text_area :description %></p>
    <%= form.submit %>
  </div>
<% end %>
