<!DOCTYPE html>
<html>
  <head>
    <title>Kaonajimi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="nav">
      <% if current_user %>
        <%= link_to "マイページ", user_path(current_user) %>
        <%= link_to "Logout", :logout, method: :post %>
      <% end %>
    </div>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>

    <%= yield %>
  </body>
</html>
